@font-face {
    font-family: 'CoolMonospace';
    src: url('http://colonial.one/assets/79e13e-Regular-R141126-webb5b9.eot') format('eot'), /* IE9 Compat Modes */
    url('http://colonial.one/assets/79e13e-Regular-R141126-webb5b9.woff') format('woff'), /* Pretty Modern Browsers */
    url('http://colonial.one/assets/79e13e-Regular-R141126-webb5b9.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css?family=Faster+One|Zilla+Slab+Highlight');
body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'CoolMonospace', monospace;
    background-color: #2f2f2f;
    background-size: cover;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    position: relative;
    display: inline-block;
}

#map img {
    max-width: 100%;
    display: block;
    /*filter: saturate(2);*/
}

#covertext {
    position: absolute;
    margin: 50px;
    color: white;
}

<<<<<<< HEAD
=======
#covertext h1 {}


}
>>>>>>> parent of 5041a7d... Silly typo fixed
.box {
    width: 5%;
    height: 5%;
    background-image: url(http://www.clker.com/cliparts/W/0/g/a/W/E/map-pin-red.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Locations on map */
#entrance {
    top: 60%;
    left: 20%;
}
#pusher_st {
    top: 65%;
    left: 25%;
}
#bossehuset {
    top: 58%;
    left: 29%;
}
#okonomikontoret {
    top: 58%;
    left: 26%;
}
#executions {
    top: 28%;
    left: 55%;
    background-image: none;
}
#executions .pin-text,
#queen .pin-text {
    margin-top: -20px;
    margin-left: -30px;
    transform: rotate(-30deg);
}
#queen {
    top: 5%;
    left: 54%;
    background-image: none;
}

/* End of locations */

/* Start of people */
#old_christianite {
    top: 49%;
    left: 45%;
}
#old_christianite.box {
    background-image: url("http://www.clker.com/cliparts/7/1/d/e/12085303071725400257jetxee_people_near_a_blackboard_1.svg");
}

/* Character image presented on the overlay */
.person {
    height: 70%;
    position: absolute;
    margin-top: 50px;
    margin-left: 30%;
}

/* End of people */
.popup emph {
    font-weight: bold;
}
.box:hover>.pin-text {
    display: block;
}
.pin-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75%;
    white-space: nowrap;
    display: none;
    transform: rotate(-45deg);
    margin-top: -60px;
    margin-left: -20px;
}
.pin-text h3 {
    color: white;
    text-shadow: 5px 5px 5px #000;
}
.pin-text a {
    text-decoration: none !important;
    transition: 0.7s ease-in-out;
}

/* End of crazy pin works */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 0.8;
}
.popup {
    /*margin: 70px auto;*/
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: 70px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup p {
    width: 80%;
    line-height: 1.5em;
    margin-top: 10px;
}
.popup p.active_speech {
    margin-left: 30px;
}
.popup p.active_speech:before {
    content: '" ';
    font-size: 2em;
    font-family: 'Zilla Slab Highlight', cursive;
    margin-left: -15px;
}
.popup h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: all 5s ease-in-out;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 80%;
    overflow: scroll;
}
#width_error {
    display: none;
}
@media screen and (max-width: 700px) {
    .box {
        display: none;
    }
    
    .popup {
        display: none;
    }
    
    #map img {
        display: none;
    }
    
    #width_error {
        display: block;
        color: white;
        text-shadow: 2px 2px 2px black;
        margin: 20px;
    }
}